.section-heading {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.paper .title {
  font-size: 1.0rem;
  margin-top: 0.0em;
  margin-bottom: 0.5em;
}

.paper .author {
  font-size: 0.9rem;
  margin-top: 0.5em;
  margin-bottom: 0.0em;
}

.paper .venue {
  font-size: 0.9rem;
  font-style: italic;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.paper .note {
  font-size: 0.8rem;
  font-style: italic;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.tile .card {
    display:flex;
    flex-direction: column;
    min-width: 20rem;
    /*max-width: 25rem;*/
    /*flex-grow: 0;*/
    /*justify-content: flex-start;*/
}
.tile .card-footer {
    margin-top: auto;
    flex-wrap: wrap;
    /*font-size: 1.25rem;*/
}

.tile .card .card-content .columns {
  margin-top: 0.0em;
  margin-bottom: 0.0em;
}

/*.card .card-image {
  text-align: center;
}
*/
.tile .card .card-image .image img {
  display: block;
  max-height:100px;
  width: auto;
  height: auto;
}

.is-flex-wrap {
  flex-wrap: wrap;
  /*flex-grow: 0;*/
  /*justify-content: space-around;*/
  /*justify-content: flex-start;*/
}

ul {
  list-style-type: circle;
  list-style-position: outside;
  /*margin: 2em;*/
  /*padding: 5em;*/
}

ul li {
  /*background: #cce5ff;*/
  margin: 0.5em;
}

#toTop {
  height: 1.9rem;
  width: 1.9rem;
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: hsla(0, 0%, 21%, 0.65);
  color: hsl(0, 0%, 96%);
  cursor: pointer;
  border-radius: 50%;
  font-size: 1.5rem;
}

#toTop:hover {
  background-color: hsla(0, 0%, 21%, 0.9);
}